import PropTypes from 'prop-types'
import React, { memo } from 'react'

const <%= name %> = memo((props) => {
  return (
    <div><%= name %></div>
  )
})

<%= name %>.propTypes = {}

export default <%= name %>